.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #525659;
    /* Standard browser PDF viewer match */
    display: flex;
    flex-direction: column;
}

.viewer {
    width: 100%;
    height: 100%;
    border: none;
}

.error {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ef4444;
    padding: 2rem;
    text-align: center;
}